* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    color: #FFF;
    font-size: 1.5rem;
    overflow-x: hidden;
    padding: 10px 10px 10px 0px;
    background-color: black;
}

header {
    height: 100px;
}

main {
    flex-grow: 1;
}

h1 {
    margin-bottom: 10px;
}

.galeria-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.pesquisa-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    width: 50%;
    padding: 15px;
    border-radius: 7.5px;
    outline: none;
    border: none;
    font-size: 17px;
}

.galeria-items {
    max-width: 241.25px;
    max-height: 350px;
    min-width: 241.25px;
    min-height: 350px;
    display: block;
    flex-grow: 1;
    border: 10px solid #FFF;
    transition: all 0.65s ease;
    overflow: hidden;
}

.galeria-items:hover {
    box-shadow: 10px 10px 20px #000;
}

.galeria-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.65s ease;
}

.galeria-items img:hover {
    filter: grayscale(0%);
    transform: scale(1.3);
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    opacity: 0;
}

.slide:target {
    z-index: 999;
    opacity: 1;
}

.slide .imagem-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide .icones {
    position: absolute;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide .fechar {
    top: 0;
    right: 0;
    font-size: 1.5rem;
    transition: all 0.1s ease;
}

.slide .fechar:hover {
    background-color: black;
}

.slide .anterior {
    left: 0;
    font-size: 2rem;
}

.slide .proximo {
    right: 0;
    font-size: 2rem;
}

footer {
    margin-top: 10px;
    height: 50px;
    font-size: 1rem;
    font-weight: 100;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1280px) {
    body {
        background-image: none;
        background-color: black;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 10px 10px 10px 5px;
    }
}

@media (max-width: 414px) {
    h1 {
        font-size: 42px;
    }
}